<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<dict>
		<key>born</key>
		<date>1825-03-01T00:00:00Z</date>
		<key>died</key>
		<date>1902-09-29T00:00:00Z</date>
		<key>name</key>
		<string>William Topaz McGonagall</string>
	</dict>
	<key>lines</key>
	<array>
		<string>Beautiful city of Glasgow, with your streets so neat and clean,</string>
		<string>Your stateley mansions, and beautiful Green!</string>
		<string>Likewise your beautiful bridges across the River Clyde,</string>
		<string>And on your bonnie banks I would like to reside.</string>
	</array>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
